/*div#div#wrapper{
	width:auto;	
}
*/
/*div#container{
	margin:0 auto;
	width:auto;	
}*/

/*button.black{
	color: black;
	text-align: center;
}*/

strong#hi{
    font-size: 30px;
    
}

div.user-name{
    width: 90%;
    margin: 30px auto 0 auto;
}

.user-name{
  font-size: 70px;
  color: #FFF;
  text-align: center;
  font-weight: bold;

}

span.name{

    color:hotpink;

}


img.index{
	  border-radius: 50%;
      width:242px;
      height:242px;
	  padding-top; 25px;
	  padding-bottom: 25px;
      opacity: 0.5;
}



a#contactme{
	
	color:hotpink;
	text-decoration: underline; 
}

p.contact{
	
	 padding-top: 20px;
	
}

p.sys{
	
	padding-top:20px;
	
}

img.sys{
	border-radius: 50%;
	width:242px;
	height: 242px;
	 padding-bottom: 20px;
	
}


img.round{
	  border-radius: 100%;
      padding-top: 12px;
      height: 200px;
	  width: 200px;
      opacity: 0.5;
}


p.cert{
	   clear: left;
	
}

p.intro{

	   color: pink;

}


.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.navbar-toggler-icon{
	color: black;	

}

.navbar-toggleable-md{
	background: linear-gradient(90deg,rgba(255,255,255,0)0%,rgba(255,255,255,0.2)25%,rgba(255,255,255,0.2)75%,rgba(255,255,255,0)100%);
	box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 0px rgba(255,255,255,0.6);
	border: 0;
}

nav{
	background: linear-gradient(90deg,rgba(255,255,255,0)0%,rgba(255,255,255,0.2)25%,rgba(255,255,255,0.2)75%,rgba(255,255,255,0)100%);
	box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 0px rgba(255,255,255,0.6);
	border: 0;
}

nav ul li a{
	padding:4px;
	color:#FFFFFF;
	font-size:18px;
	font-family:Arial;
	text-decoration:none;

}

.navbar-nav{
	float: none;
	margin: 0 auto;
	text-align: center;
	color: white;

}


.navbar-nav li{
	text-align: center;
		float: none;

}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  color:pink;
  background-color:black;
}

a.certlnk:hover{
	text-shadow:2px 2px 4px #c10f56;
}

img.sys{
	padding:10px; 
}

h4{
	text-shadow:2px 2px 4px #c10f56; 
}

h5{
	
  text-shadow:2px 2px 4px #c10f56;   
}

h2{
	
  text-shadow:2px 2px 4px #c10f56;   
	
}

a{
	color:pink;
	text-decoration:none;
}

p{
	color:pink;
}

aside{
	float:right;
}

div#section{
	clear:both;
	color:pink;
}

.ltr-content{
	direction:ltr;
}

.center{
        text-align: center;
        margin: auto;
        }



footer{
	padding: 50px 0;
	min-width: 500px;
}

div#footer ul{
	background: linear-gradient(90deg,rgba(255,255,255,0)0%,rgba(255,255,255,0.2)25%,rgba(255,255,255,0.2)75%,rgba(255,255,255,0)100%);
	box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 0px rgba(255,255,255,0.6);
}

div#footer ul li{
	display: inline-block;
}

div#footer ul li a{
	padding:4px;
	color:#FFFFFF;
	font-size:18px;
	font-family:Arial;
	text-decoration:none;
	display: block;
}

div#footer div{
	display: inline-block;
}
